<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>iTunesU3</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>iTunesU</key>
		<dict>
			<key>EDAssignment</key>
			<data>
			m5ycyLmKnFZE4s/7mU9eaYp7O2+mShB4iWUPONTqFfc=
			</data>
			<key>EDBaseCourse</key>
			<data>
			vrXJ4OccDd0SkaaTSrTIFnI2zPdVN8ePSIfrcy9oQ58=
			</data>
			<key>EDEnhancedCourse</key>
			<data>
			IF/uyBheLh24shyUTEWtUBgw1u0Z2mhD/8rAdwelkZo=
			</data>
			<key>EDInstructor</key>
			<data>
			sKKiPIMKEre/4ZKBcKMnzDj9+06jHlJIrUg6fNNQ5HE=
			</data>
			<key>EDLegacyCourse</key>
			<data>
			UbW747UcSmnXgnF378ZH1g5APBZQzFSNO/+Q71l2MqY=
			</data>
			<key>EDMaterial</key>
			<data>
			c6SKKMOc15saUuPIXQlcLbGl/E+ikhWQ/lHGKVB70A0=
			</data>
			<key>EDMaterialAV</key>
			<data>
			rl2mLURJKQfTVN8VgijJdqtLlOZgrV7DH7mBwDoFja0=
			</data>
			<key>EDMaterialApp</key>
			<data>
			VsPT0hwst2bZJew67mPTmvCI+CJ1aQ/lPWjF2dCC1a8=
			</data>
			<key>EDMaterialBook</key>
			<data>
			3/vjo6L1wvfcbxRxSFtOUVNOK20cMIGNskcbMtSvxrA=
			</data>
			<key>EDMaterialDocument</key>
			<data>
			XGijTlTiFLbOshYVYUqESenoYI9FqQxRgAHKgnk63NM=
			</data>
			<key>EDMaterialImage</key>
			<data>
			n/qsOnm3+52VlduzIHdYcbivI/kBOBiLIXv9w9y5f24=
			</data>
			<key>EDMaterialLink</key>
			<data>
			b+ha9tWCgDRx9pE7T0D7yseHdWwhcxyYcCTba94fDZs=
			</data>
			<key>EDPost</key>
			<data>
			GUFPxfgEsyZCUhE1hL3tq7661BurVAk1F2ckBrQIArc=
			</data>
			<key>EDTopic</key>
			<data>
			kVCB4zInBlolKSxdviW5enR1uKs/t+fflzFHJKrW3r0=
			</data>
			<key>EDWebPage</key>
			<data>
			1r6J4u/X4GbcqnDrCUEDpLuDyQnGqQqAEl5ytxHKWOw=
			</data>
		</dict>
		<key>iTunesU2</key>
		<dict>
			<key>EDAssignment</key>
			<data>
			m5ycyLmKnFZE4s/7mU9eaYp7O2+mShB4iWUPONTqFfc=
			</data>
			<key>EDBaseCourse</key>
			<data>
			tSFEpXLZ1GBaA1Gv6BFi50vu06V8IisIhv7bJdlFZrY=
			</data>
			<key>EDEnhancedCourse</key>
			<data>
			2gvZx2voSRefLcy2dQjmeKg+W3137SeG95+P0MraeeY=
			</data>
			<key>EDInstructor</key>
			<data>
			sKKiPIMKEre/4ZKBcKMnzDj9+06jHlJIrUg6fNNQ5HE=
			</data>
			<key>EDLegacyCourse</key>
			<data>
			8X+C0JpAjQ+0BAwK5E3ZxFWV7duX1fkkyfIy+dwcayk=
			</data>
			<key>EDMaterial</key>
			<data>
			tgAn8Gt621TC0z0VBhUqKTcsZf3aJhzlcHQuWA5HLqA=
			</data>
			<key>EDMaterialAV</key>
			<data>
			UxcA/qc2S3o/l4KkagHQ0IBp6xp25xwir4ojEbWIHZ4=
			</data>
			<key>EDMaterialApp</key>
			<data>
			l2to0itwFe1iPsjJw7IYprx+JUtLj5TS+DdE2JJ3Djc=
			</data>
			<key>EDMaterialBook</key>
			<data>
			DOyRQQXWhrpJA6cvH5c70gJ1SmCu8L7jiZeb0Ai0XUc=
			</data>
			<key>EDMaterialDocument</key>
			<data>
			yl8oS8UFLoINVAJt5cEu+dxdANpnm5wC9LHR04/7IV8=
			</data>
			<key>EDMaterialImage</key>
			<data>
			SbTqyxVh6vRltmhVQIUCv9mYG+Y6r1L7qKP7b0W4Dms=
			</data>
			<key>EDMaterialLink</key>
			<data>
			BLsNYwbSn+vKMeBJhb7lC1Ri8sUQ/bHyMpoeSKBLbSM=
			</data>
			<key>EDPost</key>
			<data>
			GUFPxfgEsyZCUhE1hL3tq7661BurVAk1F2ckBrQIArc=
			</data>
			<key>EDTopic</key>
			<data>
			kVCB4zInBlolKSxdviW5enR1uKs/t+fflzFHJKrW3r0=
			</data>
			<key>EDWebPage</key>
			<data>
			00agkMRiTpcFZXNgkjR7rFvxnMF9WeIQpUHEjLM50no=
			</data>
		</dict>
		<key>iTunesU3</key>
		<dict>
			<key>EDAssignment</key>
			<data>
			m5ycyLmKnFZE4s/7mU9eaYp7O2+mShB4iWUPONTqFfc=
			</data>
			<key>EDBaseCourse</key>
			<data>
			tSFEpXLZ1GBaA1Gv6BFi50vu06V8IisIhv7bJdlFZrY=
			</data>
			<key>EDEnhancedCourse</key>
			<data>
			2gvZx2voSRefLcy2dQjmeKg+W3137SeG95+P0MraeeY=
			</data>
			<key>EDInstructor</key>
			<data>
			sKKiPIMKEre/4ZKBcKMnzDj9+06jHlJIrUg6fNNQ5HE=
			</data>
			<key>EDLegacyCourse</key>
			<data>
			8X+C0JpAjQ+0BAwK5E3ZxFWV7duX1fkkyfIy+dwcayk=
			</data>
			<key>EDMaterial</key>
			<data>
			t0WVffl1c78yA/VsDU7UkRpCvj+niQQnVtYg1xbKL7M=
			</data>
			<key>EDMaterialAV</key>
			<data>
			mYc2bg6wBNyUiVPjqbX7RrLzjYR3v+QjsT3s8prNeRg=
			</data>
			<key>EDMaterialApp</key>
			<data>
			uN8ctCRItsUUnhnTZEIpNXqGpk9WcqOker90FevRLNY=
			</data>
			<key>EDMaterialBook</key>
			<data>
			Hs0JQCB6WTIi39zwEQBOf5BvZlRP/e6p24zB/y+Fdn8=
			</data>
			<key>EDMaterialDocument</key>
			<data>
			jfsNFgIAW/8L3F0rN2hCQCrj1EMhCqZeyu71QGGIol4=
			</data>
			<key>EDMaterialImage</key>
			<data>
			D7Lt4N6br4lAlp1NOmQgM/WrfD/JKiTXrgwvxFMlDJU=
			</data>
			<key>EDMaterialLink</key>
			<data>
			86mdDiYDOBSBHrQeNcGJq8GPniv4Ot0vMQ4zHCnczZk=
			</data>
			<key>EDPost</key>
			<data>
			GUFPxfgEsyZCUhE1hL3tq7661BurVAk1F2ckBrQIArc=
			</data>
			<key>EDTopic</key>
			<data>
			kVCB4zInBlolKSxdviW5enR1uKs/t+fflzFHJKrW3r0=
			</data>
			<key>EDWebPage</key>
			<data>
			00agkMRiTpcFZXNgkjR7rFvxnMF9WeIQpUHEjLM50no=
			</data>
		</dict>
	</dict>
</dict>
</plist>
