.DS_Store/
.DS_Store
01_Macdev/CocoaDev.xcworkspace/contents.xcworkspacedata
01_Macdev/CocoaDev.xcworkspace/xcuserdata/llv22.xcuserdatad/UserInterfaceState.xcuserstate
01_Macdev/17_DrawingFun/17_DrawingFun.xcodeproj/xcuserdata/
01_Macdev/CocoaDev.xcworkspace/contents.xcworkspacedata/
01_Macdev/Cocoa-4th/
01_Macdev/Cocoa-4th/*
00_iOSdev/.DS_Store
01_Macdev/.DS_Store
01_Macdev/CocoaDev.xcworkspace/contents.xcworkspacedata
00_iOSdev/HouseHelper/HouseHelper.xcodeproj/project.xcworkspace/
00_iOSdev/HouseHelper/HouseHelper.xcodeproj/xcuserdata/
00_iOSdev/HouseHelper/HouseHelper.xcodeproj/xcuserdata 
